@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*??? Дайте критику названиям классов. Возможно они примитивны и не очень семантичны.   */


body {
  padding: 0;
  margin: 0;
}
.header {
}
.header-wrapper {
  /*ниже спасаем провал вниз контенера  */
  display: flex;
  /* border: 2px solid red; */
  /* height: 568px; */
  /* background: olive url(../images/football_767.jpg) no-repeat 0 0 / auto auto; */
  background-image: url(../images/football_767.jpg);
  background-repeat: no-repeat;

  /*!!! вырезать картинку нужно под экран 320зчж  */
  background-position: -67px -24px;
  background-size: 141% auto;
  /* padding: 10px 0 0 0; */
}
.header-container {
  /* height: 100%; */
  width: 100%;
  /* min-height: 100%; */
  background-color: rgba(25, 29, 62, 0.88);
  padding-bottom: 22%;
}
.logo-container {
  margin-top: 32px;
  text-align: center;
}
.logo {
  height: 11.25vw;
  width: 41.25vw;
  fill: #ffffff;
}





.title {
    display: flex;
    flex-direction: column;
    /* padding: 38% 5.25% 23.5%; */
    padding: 39% 5.25% 26%;
    /* padding: 0 20px; */
    margin: 0;
}
/*??? Ниже в правиле я использую единицы vw в свойстве font-size - правильно ли таким образом задавать резиновые шрифты? Кроме vw по другому ведь никак не сделать шрифты резиновыми в пограничных положениях? И нужно ли вообще делать резиновые шрифты до брейкпоинта 641 px?  */
.title__item {
    width: 85%;
    font-family: Open Sans;
    font-weight: bold;
    /* font-size: 28px; */
    font-size: 8.75vw;
    line-height: 124%;
    letter-spacing: 1.45px;
    color: #ffffff;
}
.title__item:nth-child(2) {
    margin: 6% 0 0 auto;
}

.downloads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.downloads-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 280px;
  height: 35px; */
  width: 87.5vw;
  height: 10.9vw;
  background-color: #5e42b0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
  /* margin: 7px 16px; */
  margin-bottom: 4.4vw;
}
.downloads-button__content {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.downloads-button__apple {
  /* height: 24px; */
  height: 7.5vw;
  fill: #ffffff;
  /* margin: 9px; */
  padding: 0 8px 6px 7px;
}
.downloads-button__google {
    /* height: 24px; */
    height: 8vw;
    fill: #ffffff;
    /* margin: 9px; */
    padding: 0 6px 0px 8px;
}
.downloads-button__text {
  width: 25vw;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 2.5vw;
  margin-right: 16px;
}
.downloads-button__text_bold {
  font-weight: 700;
  display: block;
}
.downloads-button:hover {
  background-color: #ffffff;
  color: #5e42b0;
}
.downloads-button:hover .downloads-button__apple, .downloads-button:hover .downloads-button__google {
  fill: #5e42b0;
}

/*  ************* */

.athlets-wrapper {
  position: relative;
}

.athlets-header {
  font-family: Open Sans;
  font-size: 50px;
  font-weight: 700;
  color: #e7e7e7;

  padding-left: 20px;
  /*for 768  */
  /* padding-left: 37%; */

  margin-top: 0.5em;
  margin-bottom: 4.5em;
}

.athlets-picture-container {

}

.athlets-picture {
  position: absolute;
  top: 75px;
  left: 50px;
}

.athlets-point {
  padding: 60px 20px 55px;

  /*for 768  */
  /* padding-left: 37%; */
}
.athlets-point__title {
  position: relative;
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 700;
  color: #c1c1c1;
  margin-left: 25px;
}
.athlets-point__title_connection::before {
  content: "01";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}
.athlets-point__text {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}
.athlets-point__text_white {
  color: #ffffff;
}
.athlets-point__title_collaboration::before {
  content: "02";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}
.athlets-point__title_growth::before {
  content: "03";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  border-bottom: 4px solid #ffffff;
}
/* .athlets-point:nth-of-type(1) {
  background-color: #fafafa;
}
.athlets-point:nth-of-type(2) {
  background-color: #f5f4f9;
}
.athlets-point:nth-of-type(3) {
  background-color: #5e42b0;
} */
.athlets-container:nth-of-type(1) {
  background-color: #fafafa;
}
.athlets-container:nth-of-type(2) {
  background-color: #f5f4f9;
}
.athlets-container:nth-of-type(3) {
  background-color: #5e42b0;
}

/*??? 1) Вот ниже нужно сделать стили для блока PLAYERS который сильно повторяет предыдущий блок ATHLETS. Разумно ли использовать часть стилей начинающихся со слова "athlets-" чтобы не копипастить, при этом понимая,что в блоке PLAYERS будут чужеродные названия классов?
2) Или нужно верстать семантически и называть каждый блок по своему? А сливать классы в один повторяющийся компонент уже на стадии программирования компонентов на реакте?   */
/*  ******  */

.players-wrapper {
  position: relative;
}

.players-header {
  font-family: Open Sans;
  font-size: 50px;
  font-weight: 700;
  color: #e7e7e7;

  padding-left: 20px;
  /*for 768  */
  /* padding-left: 37%; */

  margin-top: 0.5em;
  margin-bottom: 4.5em;
}

.players-picture-container {

}

.players-picture {
  position: absolute;
  top: 75px;
  left: 0;
}

.players-point {
  padding: 60px 20px 55px;

  /*for 768  */
  /* padding-left: 37%; */
}
.players-point__title {
  position: relative;
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 700;
  color: #c1c1c1;
  margin-left: 25px;
}
.players-point__title_connection::before {
  content: "01";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}
.players-point__text {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}
.players-point__text_white {
  color: #ffffff;
}
.players-point__title_collaboration::before {
  content: "02";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}
.players-point__title_growth::before {
  content: "03";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #8765dd;
  border-bottom: 4px solid #ffffff;
}
/* .athlets-point:nth-of-type(1) {
  background-color: #fafafa;
}
.athlets-point:nth-of-type(2) {
  background-color: #f5f4f9;
}
.athlets-point:nth-of-type(3) {
  background-color: #5e42b0;
} */
.players-container:nth-of-type(1) {
  background-color: #fafafa;
}
.players-container:nth-of-type(2) {
  background-color: #f5f4f9;
}
.players-container:nth-of-type(3) {
  background-color: #090c35;
}

/* section.features : */

.features-wrapper {
}
.feature {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0 0 80px;
}
.feature__picture {
  width: 100%;
}
.feature__number-box {
  position: absolute;
  top: 50%;
  left: 7%;
  height: 70px;
  width: 70px;
  background-color: #5e42b0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__number {
  width: 15px;
  height: 20px;
  /* position: absolute; */
  /* top: 29%; */
  /* left: 40%; */
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 4px solid #8f7bc8;

}

/* .feature__number-box::before {
  content: "01";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 29%;
  left: 40%;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 4px solid #8f7bc8;
} */
.feature__description {
  padding: 0 20px;

}
.feature__title {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 28px;
  color: #e7e7e7;
  margin: 34px 0 24px;
}
.feature__text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

/*  ********** */
/* footer: */

.footer-wrapper {
  /*ниже спасаем провал вниз контенера  */
  display: flex;
  /* border: 2px solid red; */
  height: 568px;
  /* background: olive url(../images/football_767.jpg) no-repeat 0 0 / auto auto; */
  /* background-image: url(../images/football_767.jpg); */
  /* #171c3c  */
  background: #171c3c url(../images/game_767.jpg) no-repeat 0 0 / 0 0 ;
  background-repeat: no-repeat;
  background-position: -60px -24px;
  /*!!! вырезать картинку нужно под экран 320зчж  */
  background-size: cover;

  /* padding: 10px 0 0 0; */
}
.footer-container {
  height: 100%;
  width: 100%;
  /* min-height: 100%; */
  background-color: rgba(25, 29, 62, 0.88);
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  background: linear-gradient(to top, #50379a, #7655d6);
  margin-top: 32px;
  text-align: center;
  border-radius: 15px;

}

.footer-logo {
  height: 40px;
  width: 135px;
  fill: #ffffff;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6.25vw;
  /* 0.0755vw    0.1vw */
  /* padding: 0 20px; */
}
.footer-title__item {
  /* width: 86%; */
  font-family: Open Sans;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}
.footer-title__item:nth-child(2) {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #9b8ec1;
  /* text-align: end; */
  /* align-self: flex-end; */
}

/*??? Я поймал себя за процессом подгонки пикселей,сижу долго подстраиваю адаптивные правила под макет - насколько в продакшене нужен этот Пиксель Перфект,и как это отслеживает работодатель?  */

/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/*  MEDIA FUNCTIONS   */

@media (min-width: 641px) and (max-width: 960px) {

/*??? Это нормально что в теле медиа-запроса такая большая портянка правил? Может можно сделать по хитрому гораздо меньше?  */
  .header-wrapper {
    /* border: 2px solid red; */
    /* height: 568px; */
    /* background: olive url(../images/football_767.jpg) no-repeat 0 0 / auto auto; */
    background-image: url(../images/football_1280.jpg);
    background-repeat: no-repeat;
    background-position: -249px -40px;
    background-size: 165% auto;
    /* padding: 10px 0 0 0; */
  }
  .header-container {
    /* background: none; */
    padding-bottom: 7%;
  }
  .logo-container {
    margin-top: 24px;
  }
  .logo {
    width: 26.75vw;
  }
  .title {
    padding: 18.5% 11.25% 38.5%;
  }

  .title__item {
    line-height: 118%;
  }

  .title__item:nth-child(2) {
      margin: 0% 0 0 18%;
  }

  .downloads {
    flex-direction: row;
  }

  .downloads-button {
    width: 40.5vw;
    height: 10.2vw;
    border-radius: 40px;
    margin-right: 4%;
  }
  .downloads-button:nth-child(2) {
    margin-right: 0;
  }
  .downloads-button__content {
    /* outline: 2px solid lime; */
    width: 33vw;
    justify-content: flex-start;
  }
  .downloads-button__apple {
    height: 6vw;
    padding: 0 22px 6px 7px;
  }
  .downloads-button__google {
    height: 6vw;
    padding: 0 24px 0px 26px;
  }
  .downloads-button__text {
    width: 19vw;
    font-size: 1.75vw;
    letter-spacing: 1px;
    margin-right: 0;
  }



}
