/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap'); */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*??? 1) После того как я подключил файлы шрифтов которые выше, Regular, шрифты заработали в обоих режимах жиности и 400 и 700. Нужно ли тоогда подключать шрифты ниже (Bold)?
(Bold-fonts при подключении дают более жирное начертание - мне так показалось, но я не уверен.)
2) Насколько знаю шрифт должен работать если его подключат одним их этих файлов. Зачем здесь нам даны 3 типа файлов шрифтов?
 */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/*??? При корректировке css-правил резиновый макет построенный на относительных единицах постоянно искажается в самых разных местах: правишь одно, тут же валится другое. Верно ли я понимаю,чтобы избежать подобное, нужно сначала заверстать всю страницу в px, а затем шаг за шагом все правила переписать на относительные единицы? Подозреваю,что большая часть верстальщиков включает PixelPerfectaddon в Хроме,и тупо на лету подгоняет относительные единицы,сам так делаю сижу.   */

/*??? При адаптивной верстке приходится тратить много времени на подгонку элементов под макет, особенно по принципу PixelPerfect. Есть ли более важные элементы, отображению которых Заказчик уделяет больше важности? Например размер шрифта,или картинки?  */

body {
  padding: 0;
  margin: 0;
}

.header-wrapper {
  display: flex;
  background: url(../images/football_767.jpg) no-repeat center/cover;
}

.header-container {
  width: 100%;
  background-color: rgba(25, 29, 62, 0.88);
  padding-bottom: 21.75%;
}

.logo-container {
  margin-top: 10%;
  text-align: center;
}

.logo {
  height: 11.25vw;
  width: 41.25vw;
  fill: #ffffff;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 39% 5.25% 26%;
  margin: 0;
}

.title__item {
  width: 85%;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 8.75vw;
  line-height: 124%;
  letter-spacing: 1.45px;
  color: #ffffff;
  text-transform: uppercase;
}

.title__item:nth-child(2) {
  margin: 6% 0 0 auto;
}

.downloads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloads-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87.5vw;
  height: 10.9vw;
  background-color: #5e42b0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 4.4vw;
}

.downloads-button__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloads-button__apple {
  height: 7.5vw;
  fill: #ffffff;
  padding: 0 8px 6px 7px;
}

.downloads-button__google {
  height: 8vw;
  fill: #ffffff;
  padding: 0 6px 0px 8px;
}

.downloads-button__text {
  width: 25vw;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.5vw;
  margin-right: 16px;
  text-transform: uppercase;
}

.downloads-button__text_bold {
  font-weight: 700;
  display: block;
}

.downloads-button:hover {
  background-color: #ffffff;
  color: #5e42b0;
}

.downloads-button:hover .downloads-button__apple, .downloads-button:hover .downloads-button__google {
  fill: #5e42b0;
}

/*  section.athlets: ************* */

.athlets-wrapper {
  position: relative;
}

.athlets-header {
    font-family: "Open Sans";
    font-size: 15.6vw;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    padding: 2% 6.5% 0;
    margin: 0;
}

.athlets-picture {
    position: relative;
    width: 60%;
    top: 2vw;
    left: calc(52% - 96px);
    margin: 0 0 -17vw 0;
}

.athlets-point {
  padding: 9.5% 6% 16.5%;
}

.athlets-point_connection {
  padding: 16.5% 6% 16%;
}

.athlets-point__title {
  position: relative;
  font-family: "Open Sans";
  font-size: 7.2vw;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 8.5% 9% 19px;
}

.athlets-point__title_connection::before {
  content: "01";
  width: 5vw;
  height: 6vw;
  position: absolute;
  top: 8%;
  left: -11%;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.5vw;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}

.athlets-point__text {
  font-family: "Open Sans";
  font-size: 4.68vw;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.2em;
  color: #000000;
  margin: 0;
}

.athlets-point__text_white {
  color: #ffffff;
}

.athlets-point__title_collaboration::before {
  content: "02";
  width: 5vw;
  height: 6vw;
  position: absolute;
  top: 8%;
  left: -11%;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.5vw;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}

.athlets-point__title_growth::before {
  content: "03";
  width: 5vw;
  height: 6vw;
  position: absolute;
  top: 8%;
  left: -11%;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.5vw;
  color: #000000;
  border-bottom: 4px solid #ffffff;
}

.athlets-container:nth-of-type(1) {
  background-color: #fafafa;
}

.athlets-container:nth-of-type(2) {
  background-color: #f5f4f9;
}

.athlets-container:nth-of-type(3) {
  background-color: #5e42b0;
}

/* корректирующие модификаторы для блока-клона players:  */

.athlets-header_players {
    padding: 1% 4.5% 0;
}

.athlets-picture_players {
    width: 94%;
    top: 3vw;
    left: calc(50% - 47%);
    margin: 0 0 -6vw 0;
}

.athlets-point_connection_players {
  padding: 16% 6% 17.5%;
}

.athlets-point_collaboration_players {
  padding: 9% 6% 16.5%;
}

.athlets-point_growth_players {
  padding: 8% 6% 17%;
}

.athlets-container.athlets-container_growth_players {
  background-color: #090c35;
}

.athlets-point__title_connection_players::before {
  content: "01";
  width: 4.5vw;
  height: 6.0vw;
  position: absolute;
  top: 1vw;
  left: -7.5vw;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.3vw;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}

.athlets-point__title_collaboration_players::before {
  content: "02";
  width: 4.8vw;
  height: 5.5vw;
  position: absolute;
  top: 1vw;
  left: -7.5vw;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.3vw;
  color: #000000;
  border-bottom: 4px solid #5e42b0;
}

.athlets-point__title_growth_players::before {
  content: "03";
  width: 4.8vw;
  height: 5.5vw;
  position: absolute;
  top: 1vw;
  left: -7.5vw;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.3vw;
  color: #8765dd;
  border-bottom: 4px solid #ffffff;
}

/* section.features : */

.feature {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 18.8%;
}

.feature_card_work {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 15.8% 0;
}

/*??? Ниже контейнеру пришлось сделать display:flex , т к без флекса контейнер почемуто больше вложенного элемента img. Нормально решать такую проблему флексом? Почему возникает такая проблема? (приложенный файл: Вопрос1_feature__picture-container.jpg) */
.feature__picture-container {
  display: flex;
}
.feature__picture {
  width: 100%;
}

.feature__number-box {
    position: absolute;
    top: -18vw;
    left: 6vw;
    height: 22vw;
    width: 22vw;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__number-box_card_find {
    position: absolute;
    top: -18vw;
    left: 6vw;
    height: 22vw;
    width: 22vw;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__number-box_card_work {
    position: absolute;
    top: -18.5vw;
    left: 6vw;
    height: 22vw;
    width: 22vw;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__number {
  width: 21%;
  height: 29%;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 4.2vw;
  color: #ffffff;
  border-bottom: 0.3em solid #8f7bc8;
}

.feature__description {
  position: relative;
  padding: 0 22% 0 6%;
}

.feature__description_card_find {
  padding: 0 5% 0 6%;
}

.feature__description_card_work {
  padding: 0 5% 0 6%;
}

.feature__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 9vw;
  color: #e7e7e7;
  text-transform: uppercase;
  margin: 11% 0 -2% 0%;
}

.feature__title_card_work {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 9vw;
  color: #e7e7e7;
  text-transform: uppercase;
  margin: 9.5% 0 -2% 0%;
}

.feature__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 4.7vw;
  letter-spacing: 0.09em;
  line-height: 1.39em;
  color: #000000;
}

/* footer: */

.footer-wrapper {
  display: flex;
  background: #171c3c url(../images/game_767.jpg) no-repeat center/cover;
}

.footer-container {
  height: 100%;
  width: 100%;
  background-color: rgba(25, 29, 62, 0.88);
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 21% 0 16% 0;
}

.box-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 74px;
  height: 74px;
  background: linear-gradient(to top, #50379a, #7655d6);
  margin-top: 32px;
  text-align: center;
  border-radius: 15px;
}

.box-logo {
  height: 15vw;
  width: 17vw;
  fill: #ffffff;
}

.footer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9% 5% 0%;
}

.footer-title__item {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 10.1vw;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-title__item:nth-child(2) {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 4.45vw;
  color: #9b8ec1;
}

.footer-logo-container {
  text-align: center;
  margin: 21% 0 1.7% 0;
}

.footer-logo {
  height: 11.25vw;
  width: 41.25vw;
  fill: #ffffff;
}

/*??? Предполагаю, что есть инструмент фильтрующий не используемые css-правила - может подскажете? */

/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/*  MEDIA FUNCTIONS 641-960  */

@media (min-width: 641px) and (max-width: 960px) {

  .header-wrapper {
    background: url(../images/football_1280.jpg) no-repeat center/cover;
  }

  .header-container {
    padding-bottom: 7.5%;
  }

  .logo-container {
    margin-top: 3%;
  }

  .logo {
    width: 26.75vw;
  }

  .title {
    padding: 18.5% 11.25% 38.5%;
  }

  .title__item {
    line-height: 118%;
  }

  .title__item:nth-child(2) {
    margin: 0% 0 0 18%;
  }

  .downloads {
    flex-direction: row;
  }

  .downloads-button {
    width: 40.5vw;
    height: 10.2vw;
    border-radius: 40px;
    margin-right: 4%;
  }

  .downloads-button:nth-child(2) {
    margin-right: 0;
  }

  .downloads-button__content {
    width: 33vw;
    justify-content: flex-start;
  }

  .downloads-button__apple {
    height: 6vw;
    padding: 0 22px 6px 7px;
  }

  .downloads-button__google {
    height: 6vw;
    padding: 0 24px 0px 26px;
  }

  .downloads-button__text {
    width: auto;
    font-size: 1.75vw;
    letter-spacing: 1px;
    margin-right: 0;
  }

  /*@media for athlets to 960px  */

  .athlets-header {
    font-family: "Open Sans";
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: 2px;
    color: #e7e7e7;
    padding: 7.9% 6.5% 0 38%;
    margin: 0;
  }

  .athlets-picture {
    position: absolute;
    width: 64.5%;
    top: 12.6%;
    left: -21%;
  }

  .athlets-point {
    padding: 4% 5% 4.5% 38%;
  }

  .athlets-point_connection {
  }

  .athlets-point_growth {
    padding: 4% 3% 4.5% 38%;
  }

  .athlets-point__title_connection::before {
    content: "01";
    width: 2.5vw;
    height: 3.5vw;
    position: absolute;
    top: 4%;
    left: -8.3%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.3vw;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
  }

  .athlets-point__title_collaboration::before {
    content: "02";
    width: 2.5vw;
    height: 3.5vw;
    position: absolute;
    top: 4%;
    left: -8.3%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.3vw;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
  }

  .athlets-point__title_growth::before {
    content: "03";
    width: 2.5vw;
    height: 3.5vw;
    position: absolute;
    top: 4%;
    left: -8.3%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.3vw;
    color: #000000;
    border-bottom: 4px solid #ffffff;
  }

  .athlets-point__title {
    position: relative;
    font-family: "Open Sans";
    font-size: 4.2vw;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #c1c1c1;
    margin: 0.0% 9% 3.5% 7%;
  }

  .athlets-point__text {
    font-family: "Open Sans";
    font-size: 2.1vw;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 1.7em;
    margin: 0;
  }

  /*@media for players to 960  */

/*??? Дайте критику по данному подходу: я взял стили блока athlets и применил из к блоку players, т к они почти идентичны. Далее я добавил классы-модификаторы с припиской _players к получившемуся блоку,чтобы скорректировать его отличия. Далее я эти модификаторы меняю по ходу создания адаптивной верстки для блока players.   */

.athlets-header_players {
    padding: 7.7% 33.5% 0% 3.5%;
}

  .athlets-picture_players {
    width: 57%;
    top: 5.3%;
    left: 43%;
  }

  .athlets-container:nth-of-type(1) {
    background-color: #ffffff;
  }

  .athlets-point_connection_players {
    padding: 4% 44% 4.7% 4%;
  }

  .athlets-point_collaboration_players {
    padding: 4.5% 44% 4.5% 4.0%;
  }

  .athlets-point_growth_players {
    padding: 4.2% 40% 4.6% 4%;
  }

  .athlets-point__title_connection_players {
    position: relative;
    font-family: "Open Sans";
    font-size: 4.2vw;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #c1c1c1;
    margin: 0.0% 9% 3.5% 8%;
  }

  .athlets-point__title_connection_players::before {
    content: "01";
    width: 2.5vw;
    height: 3.5vw;
    position: absolute;
    top: 0.3vw;
    left: -4vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.4vw;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
  }

  .athlets-point__title_collaboration_players {
    position: relative;
    font-family: "Open Sans";
    font-size: 4.2vw;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #c1c1c1;
    margin: 0.0% 9% 3.5% 8%;
  }

  .athlets-point__title_collaboration_players::before {
    content: "02";
    width: 2.5vw;
    height: 3.5vw;
    position: absolute;
    top: 0.3vw;
    left: -4vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.4vw;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
  }

  .athlets-point__title_growth_players {
    position: relative;
    font-family: "Open Sans";
    font-size: 4.2vw;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #c1c1c1;
    margin: 0.0% 9% 3.5% 7.7%;
  }

  .athlets-point__title_growth_players::before {
    content: "03";
    width: 2.6vw;
    height: 3.5vw;
    position: absolute;
    top: 0.4vw;
    left: -4.3vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.4vw;
    color: #8765dd;
    border-bottom: 4px solid #ffffff;
  }

  /*@media for features to 960px   */

  .feature {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 12.6%;
  }

  .feature_card_find {
    padding: 0 0 13.5%;
  }

  .feature_card_work {
    padding: 0 0 14.2%;
  }

  .feature__number-box {
    position: absolute;
    top: -10.5vw;
    left: 4.3vw;
    height: 15.2vw;
    width: 15.2vw;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature__number-box_card_find {
      top: -11.7vw;
  }

  .feature__number-box_card_work {
      top: -11.8vw;
  }

  .feature__number {
    width: 21%;
    height: 29%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 3.0vw;
    color: #ffffff;
    border-bottom: 0.3em solid #8f7bc8;
  }

  .feature__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 10.2vw;
    color: #e7e7e7;
    text-transform: uppercase;
    margin: 10% 0 -2% 0%;
  }

  .feature__title_card_find {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 10.5vw;
    color: #e7e7e7;
    text-transform: uppercase;
    margin: 8% 0 -2% -1%;
  }

  .feature__title_card_work {
    margin: 8% 0% -2% 0.2%;
  }

  .feature__description {
    position: relative;
    padding: 0 8% 0 4%;
  }

  .feature__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 3.0vw;
    letter-spacing: 0.077em;
    line-height: 1.3em;
    color: #000000;
    margin: 3.0% 0 0 0;
  }
  .feature__text_card_work {
    margin: 3.5% 0 0 0.5%;
  }

  /*@media for footer to 960px  */

  .footer-wrapper {
    display: flex;
    background: #171c3c url(../images/game_1280.jpg) no-repeat center/cover;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12.2% 0 34% 0;
  }

  .box-logo-container {
    width: 17vw;
    height: 18vw;
    border-radius: 28px;
  }
  .box-logo {
    height: 11vw;
    width: 14vw;
  }

  .footer-title {
      padding: 4.5% 3% 0%;
  }

  .footer-title__item {
    letter-spacing: 0.08em;
  }

  .footer-title__item:nth-child(2) {
    font-size: 4.5vw;
    line-height: 1.2em;
    letter-spacing: 0.026em;
  }

  .footer-logo-container {
    margin: 2% 0 2.2% 0;
  }

  .footer-logo {
    height: 8.25vw;
    width: 27.25vw;
  }

}

/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/* *******  */
/*  MEDIA FUNCTIONS 961-  */

/* @media (min-width: 961px) and (max-width: 1920px) { */

@media (min-width: 961px) {

  body {
    width: 1920px;
  }

  .header-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: url(../images/football_1920.jpg) no-repeat center/cover ;
  }

  .header-container {
    background-color: rgba(25, 29, 62, 0.88);
    padding-bottom: 0.7%;
  }

  .header-container {
    background-color: rgba(25, 29, 62, 0.88);
    padding-bottom: 1.4%;
  }

  .logo-container {
    margin-top: 2%;
    text-align: center;
  }

  .logo {
    height: 3vw;
    width: 10vw;
    margin-top: 0.2%;
  }

  .title {
    padding: 14% 10% 11% 9.5%;
  }

  .title__item {
    font-size: 4.7vw;
    line-height: 104%;
    letter-spacing: 4.5px;
  }

  .title__item:nth-child(2) {
    margin: 0% 0 0 auto;
    text-align: end;
  }

  .downloads {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32.0% 0 32.5%;
  }

  .downloads-button {
    width: 16vw;
    height: 4vw;
    border-radius: 40px;
    margin-right: 4%;
  }

  .downloads-button:nth-child(2) {
    margin-right: 0;
  }

  .downloads-button__content {
    width: 81%;
    justify-content: flex-start;
  }

  .downloads-button__apple {
    height: 2.6vw;
    padding: 0 9% 2% 0%;
  }

  .downloads-button__google {
    height: 2.25vw;
    padding: 0 8% 0px 10%;
  }

  .downloads-button__text {
    width: auto;
    font-size: 0.75vw;
    letter-spacing: 0;
    margin-right: 0;
  }

  /* @media for athlets from 961 : */

  .athlets-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .athlets-header {
    font-family: "Open Sans";
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 2px;
    color: #e7e7e7;
    padding: 4.7% 6.5% 34px 52.5%;
    margin: 0;
  }

  .athlets-picture {
      position: absolute;
      width: 29.5%;
      top: 3.3%;
      left: 20.4%;
  }

  .athlets-point {
    padding: 40px 12% 60px 52.5%;
  }

  .athlets-point_connection {
    padding: 2.1% 12% 2.8% 52.5%;
  }

  .athlets-point_collaboration {
    padding: 2.5% 12% 2.9% 52.5%;
  }

  .athlets-point_growth {
    padding: 2.3% 11% 2.9% 52.5%;
  }

  .athlets-point__title_connection::before {
    content: "01";
    width: 1vw;
    height: 1.45vw;
    position: absolute;
    top: 11%;
    left: -4.5%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1vw;
    color: #000000;
    border-bottom: 0.2em solid #5e42b0;
  }

  .athlets-point__title_collaboration::before {
    content: "02";
    width: 1vw;
    height: 1.45vw;
    position: absolute;
    top: 11%;
    left: -4.5%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1vw;
    color: #000000;
    border-bottom: 0.2em solid #5e42b0;
  }

  .athlets-point__title_growth::before {
    content: "03";
    width: 1vw;
    height: 1.45vw;
    position: absolute;
    top: 11%;
    left: -4.5%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1vw;
    color: #000000;
    border-bottom: 0.2em solid #ffffff;
  }

  .athlets-point__title {
    position: relative;
    font-family: "Open Sans";
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 0;
    color: #c1c1c1;
    margin: 0.0% 9% 2% 4%;
  }

  .athlets-point__text {
    font-family: "Open Sans";
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.027em;
    line-height: 1.45em;
    margin: 0;
  }

  .athlets-point__text_white {
    letter-spacing: 0.04em;
  }

/*??? Пытаюсь изначально придымувать общий класс для карточек. Но все равно выясняется что везде нужно подгонять миллиметры. Этот макет специально сделан так что нужно плодить на каждую карточку отдельный класс? Или я что то неправильно делаю?  */

  /*@media for players from 961  */

  .athlets-header_players {
      padding: 4.8% 58.5% 0% 9.6%;
  }

  .athlets-picture_players {
    width: 51.5%;
    top: 2.9%;
    left: 41.9%;
  }

  .athlets-container:nth-of-type(1) {
    background-color: #ffffff;
  }

  .athlets-point_connection_players {
    padding: 3.3% 50% 2.8% 10%;
  }
  .athlets-point_collaboration_players {
    padding: 1.8% 50% 4.3% 10%;
  }

  .athlets-point_growth_players {
    padding: 1.8% 50% 2.9% 10%;
  }

  .athlets-point__title_connection_players {
    position: relative;
    font-family: "Open Sans";
    font-size: 2.0vw;
    font-weight: 700;
    letter-spacing: 0px;
    color: #c1c1c1;
    margin: 1.5% 9% 2.0% 3.6%;
  }

  .athlets-point__title_connection_players::before {
    content: "01";
    width: 1vw;
    height: 1.5vw;
    position: absolute;
    top: 0.3vw;
    left: -1.5vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.0vw;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
  }

  .athlets-point__title_collaboration_players {
    position: relative;
    font-family: "Open Sans";
    font-size: 2.0vw;
    font-weight: 700;
    letter-spacing: 0px;
    color: #c1c1c1;
    margin: 1.5% 9% 3.2% 4%;
  }

  .athlets-point__title_collaboration_players::before {
    content: "02";
    width: 1vw;
    height: 1.5vw;
    position: absolute;
    top: 0.4vw;
    left: -1.5vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.0vw;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
  }

  .athlets-point__title_growth_players {
    position: relative;
    font-family: "Open Sans";
    font-size: 2.0vw;
    font-weight: 700;
    letter-spacing: 0px;
    color: #c1c1c1;
    margin: 1.5% 9% 2.1% 4%;
  }

  .athlets-point__title_growth_players::before {
    content: "03";
    width: 1vw;
    height: 1.5vw;
    position: absolute;
    top: 0.4vw;
    left: -1.5vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.0vw;
    color: #8765dd;
    border-bottom: 4px solid #ffffff;
  }

  /*@media for features from 961  */

  .features-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature_card_be {
    flex-direction: row;
    padding: 0 0 0 0;
  }

  .feature_card_find {
    flex-direction: row-reverse;
    padding: 0;
  }

  .feature_card_work {
    flex-direction: row;
    padding: 0 0 0 0;
  }

  .feature__picture-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 38vw;
    box-sizing: border-box;
  }

  .feature__picture {
    width: auto;
    height: 100%;
  }
  /*??? Картинка первой карточки этого блока нуждается в подгонке, чтобы выглядеть как на макете. Мне нужно было ее вырезать? Адекватно ли использовать подход ниже? :  */

  .feature__picture_card_be {
  }

  .feature__description {
      box-sizing: border-box;
      width: 50%;
      padding: 0 11% 3% 6.5%;
  }

  /* .feature__description_card_be {
    padding: 0 5% 0 10%;
  } */

  .feature__description_card_find {
      padding: 0 5% 3% 10.0%;
  }

  .feature__description_card_work {
    padding: 0 9% 3% 6.5%;
  }

  .feature__number-box {
    top: 28.6%;
    left: -8.7%;
    height: 8vw;
    width: 8.7vw;
  }

  .feature__number-box_card_find {
    top: 29.2%;
    left: 91.3%;
    height: 8vw;
    width: 8.7vw;
  }

  .feature__number {
    width: 14%;
    height: 22%;
    font-size: 1.2vw;
  }

  /*???
  При верстке макета surface_desktop выявилось искаженное изображение при расширении 970*580 - карточки в блоке section.features разъезжаются. Если это не было в ТЗ,стоит ли этому уделять внимание? (приложенный файл: Вопрос3_feature__title-разрывпри970шир.jpg)
    */

  .feature__title {
      font-size: 80px;
      line-height: 1.0em;
      margin: 39.5% 0 0 0%;
  }

  .feature__title_card_find {
      margin: 36.5% 0 0 -1%;
  }

  .feature__title_card_work {
      margin: 37.5% 0 0 0%;
  }

  .feature__text {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.056em;
      margin: 16% 0 0 0;
  }

  .feature__text_card_find {
      letter-spacing: 0.05em;
      margin: 9% 0 0 0;
  }

  .feature__text_card_work {
      margin: 14.5% 0 0 0;
  }


  /*@media for footer from 961 */

  .footer-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background: #171c3c url(../images/game_1920.jpg) no-repeat center/cover;
  }

  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 27%;
    margin: 10.6% 0 7.7% 0;
  }

  .box-logo-container {
    width: 6.7vw;
    height: 7.1vw;
    border-radius: 28px;
    margin: 1% 0 0 1%;
  }
  .box-logo {
    height: 11vw;
    width: 5vw;
  }

  .footer-title {
    align-items: flex-start;
    padding: 0% 0.25% 0 2%;
  }

  .footer-title__item {
    letter-spacing: 0.06em;
    font-size: 4.1vw;
  }

  .footer-title__item:nth-child(2) {
    font-size: 1.5vw;
    line-height: 0.6em;
    letter-spacing: 0.026em;
  }

  .footer-logo-container {
    margin: 9% 0 2.6% 0;
  }

  .footer-logo {
    height: 3.25vw;
    width: 10.25vw;
  }
}
